*{
    box-sizing: border-box;
}
body{
    background: white;
    margin: 10px;
    padding: 12px;
    font-family: "Playfair Display", serif;
}
p{
    color: black;
}
.container{
    clear: both;
    overflow: auto;
}
nav{
    right: 0;
    position: fixed;
    top: 0;
    z-index: 100;
    background: rgba(255, 255, 255, 0.39);
    width: 100%;
}
nav a{
    text-decoration: none;
    color: black;
}
.logo img{
    float: left;
    border-radius: 10px;
    height: 100px;
    width: 100px;
}
.container ul li{
    display: inline-block;
    padding: 10px;
    font-size: 18px;
}
.container ul li:hover{
    background: #70bf5a;
}
.slider-holder{
    width: 800px;
    height: 400px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}
.img-holder{
    width: 2400px;
    height: 400px;
    clear: both;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
}
.img-holder img{
    height: 400px;
    width: 800px;
}
.slider-img{
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}
#slider-img-1:target ~ .img-holder{
    left: 0px;
}
#slider-img-2:target ~ .img-holder{
    left: -800px;
}
#slider-img-3:target ~ .img-holder{
    left: -1600px;
}
.button-holder{
    position: relative;
    top: -20px;
}
.slider-change{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: linear-gradient(blue, whitesmoke);
}
.center{
    text-align: center;
}
.box{
    border: 2px dashed orange;
    background: black;
    color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    font-family: "Oswald", sans-serif;
}
.box p{
    color: white;
    font-family: "Oswald", sans-serif;
    text-align: center;
}
.box2{
    font-family: "Oswald", sans-serif;
}
.box2 p{
    font-family: "Oswald", sans-serif;
    text-align: center;
}
table{
    border-collapse: collapse;
    width: 100%;
}
table,td,th{
    border: 2px solid black;
}
th{
    background: #70bf5a;
}
td{
    text-align: justify;
    background: #90c980;
    padding: 10px;
}
li{
    font-family: "Oswald", sans-serif;
}
#can_do h2{
    font-family: "Oswald", sans-serif;
}
